extends layout

block content
	section.namecard
		.namecard-login
			if name
				p.namecard-greeting Welcome, #{name}!
				form.namecard-exit(action='goodbye', method='POST')
					button(type=submit)
						img(src='/static/img/close.svg')
			else
				p.namecard-greeting Hello, Student!
		block intro
	block card