doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/static/stylesheets/style.css')
		title Flash cards
	body
	include includes/header.pug
	if name
		h2 Welcome, #{name}!
			form(action='/goodbye', method='post')
				button(type='submit') Goodbye
	block content